In [1]:
import pandas as pd

tabela = pd.read_csv("tabela-alunos.csv")

print (tabela)

        NOMES  SERIES BRINQUEDOS  IDADE
0       Paula       8       Bola      7
1       Pedro       6       Peao      7
2       Aline       5       Bola      7
3      Sergio       5     Boneca     12
4       Diana       2    Panelas     11
5      Mateus       4  Carrinhos     12
6      Rafael       4    Ursinho      6
7     Gabriel       4   Pandeiro      8
8     Juliana       9     Violao      9
9    Fernanda       8      Piano      9
10   Thamires       7      Piano      9
11      Aline       6    Ursinho      8
12    Beatriz       5      Corda     10
13  Valentina       4     Violao     15
14       Enzo       3     Peteca     13
15    Cleiton       2  Bicicleta     13
16      Jenny       1  Bicicleta     14
17  Jaqueline       1     Patins     15
18    Jessica       1   Patinete      6